.entirepage {
  margin: 0 auto;
  width: 100%;
  height: -webkit-fill-available;
  /* background-color: rgba(0, 0, 0, 1);  */
}
.perioddisplay {
  font-family: "Share Tech Mono";
  font-size: 100px;
  background: rgba(255, 255, 255, 0);
  color: rgba(150, 150, 150, 1);
  margin-right: 10%;
}
.realtime {
  margin: 0px 0px 20px 0px;
  padding-top: 90px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: "Share Tech Mono";
  font-size: 20px;
  line-height: 40px;
}
.clockpage {
  width: auto;
  min-height: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0);
  color: black;
  text-align: center;
  display: flex;
  margin: 0px 170px 0px 0px;
  align-items: center;
  justify-content: center;
}
#firstsection {
  width: fit-content;
  height: auto;
  display: flex;
  background-color: rgba(250, 225, 170, 0);
  margin-right: 0%;
  margin-left: 10%;
}
#dn-dayhidden {
  visibility: hidden;
}
.clocksection {
  padding: 0px;
  background-color: rgba(250, 225, 170, 0);
  text-align: center;
  list-style: none;
  margin: 0px;
  width: fit-content;
  display: inline-block;
}
.colon {
  padding: 10px 22px 10px 15px;
  color: rgba(150, 150, 150, 1);
  text-align: center;
  list-style: none;
  margin: 0px;
  margin-top: 0px;
  width: -webkit-fit-content;
  font-size: 150px;
}
.buttons {
  color: rgba(0, 0, 0, 1);
  margin: 10px;
  width: auto;
  height: auto;
  padding-bottom: 3px;
  padding-top: 0px;
  border-radius: 200px;
  border: 0px solid rgba(20, 115, 115, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Share Tech Mono";
  text-align: center;
}
.buttons:hover {
  color: rgba(0, 0, 0, 1);
  margin: 10px;
  padding-bottom: 3px;
  padding-top: 0px;
  border-radius: 200px;
  border: 0px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  font-size: 19px;
  font-family: "Share Tech Mono";
  text-align: center;
}
.numdisplay {
  margin: 10px auto;
  width: auto;
  height: auto;
  color: rgba(150, 150, 150, 1);
  background-color: rgba(0, 0, 200, 0);
  padding-top: 8px;
  line-height: 70%;
  vertical-align: middle;
  font-size: 150px;
  font-family: "Share Tech Mono";
  font-weight: 500;
  text-align: center;
}
#in-red {
  margin: 10px auto;
  width: auto;
  height: auto;
  color: rgba(255, 0, 0, 1);
  background-color: rgba(0, 0, 200, 0);
  padding-top: 8px;
  line-height: 70%;
  vertical-align: middle;
  font-size: 150px;
  font-family: "Share Tech Mono";
  font-weight: 500;
  text-align: center;
}
.entiresection {
  background-color: rgba(0,0,0,0);
  margin: 10px auto;
  width: auto;
  height: auto;
  display: flex;
}
.daydisplay {
  margin: 5px 10px 0px 10px;
  width: 175px;
  height: auto;
  color: rgba(150, 150, 150, 1);
  background-color: rgba(0, 0, 200, 0);
  align-self: center;
  font-size: 25px;
  font-family: "Share Tech Mono";
  font-weight: 100;
  text-align: center;
}
ul {
  padding: 10px;
  text-align: center;
  list-style: none;
  margin: 0px;
  margin-top: 0px;
  width: fit-content;
  font-size: 40px;
  font-family: "Share Tech Mono";
}
.ampm {
  margin: 0px 0px 0px 10%;
  padding: 0px;
  height: auto;
  width: fit-content;
  vertical-align: 10px;
}
.setAlarm {
  margin: 40px 0px 0px 0px;
  text-align: center;
  width: auto;
  color: rgba(155, 0, 0, 1);
}
.setbutton {
  margin: 0px auto;
  margin-right: 5px;
  padding-top: 3px;
  text-align: center;
  width: auto;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-family: "Share Tech Mono";
  border: none;
}
.setbutton:hover {
  margin: 0px auto;
  margin-right: 5px;
  padding-top: 3px;
  text-align: center;
  width: 95px;
  height: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 900;
  font-family: "Share Tech Mono";
  border: none;
}
